<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/css/style.css" >
        

    </head>
    <body>

    <%- include base.ejs %>

       
    <div class="listContainer" >

    <% for (let i=0; i < modes.length; i++) {%>


        <div class="modeListRow">    
                
            <h3><%=modes[i].Title %></h3>
          
            <p><%=modes[i].Description %></p>
            <a href="/modes/<%= modes[i].modeID%>" class="text-muted">Read More</a></small>
            </h4>
            <button class="btn btn-primary">Make current</button>
            <button class="btn btn-primary" onclick="window.location.href = '/modes/modeEditor/<%= modes[i].modeID%>';">Edit</button>
            <button class="btn btn-primary">Delete</button>
        </div>
                              
        <%} %>

        <button class="btn btn-primary" onClick="createNewMode()">Create new mode</button>
    </div>
        

        <script src="js/modeList_script.js"></script>
        <script src="/js/jquery.slim.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
        -->
        <script src="/js/bootstrap.min.js"></script>
    </body>


</html>