<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/css/style.css" >
        <link rel="stylesheet" href="/css/modeEditorStyle.css" >
        

    </head>
    <body>

    <%- include base.ejs %>

       
    <div class="contentContainer" >
        <div class="infoContainer">
        <p>Editor</p>
        <h3>Title: <input id="titleField" type="text" value="<%=mode.Title%>">
        </h3>     
        <br />
        <h4>Description:</h4>    
        <textarea id="descriptionField" rows="4" cols="50"><%=mode.Description %>
        </textarea>
        <button id="saveBtn" onclick="saveMode()">Save</button>
    </div>

        <div class="lightWrapper">

        <div class="lightContainer box1">
            <table class="lightTable">
                <tr>
                    <th>Selected</th>
                    <th>Light ID</th>
                    <th>R</th>
                    <th>G</th>
                    <th>B</th>
                    <th>Brightness</th>
                </tr>
            <% for (let i=0; i<lightObjects.length; i++) {%>
            
                <tr class="lightRow">
                    <td>
                            <label class="switch">
                                    <input type="checkbox">
                                    <span class="toggle-slider round"></span>
                            </label>

                    </td>
                    <td><%=lightObjects[i].Title %></td>
                    <td class="R" ><%=lightObjects[i].R %></td>
                    <td class="G"><%=lightObjects[i].G %></td>
                    <td class="B"><%=lightObjects[i].B %></td>
                    <td class="Brightness"><%=lightObjects[i].Brightness %></td>
                      
                
                    
                </tr>

            <% } %>
                    </table>
        </div>

        <div class="box2">
            <div class="rgb-slider-container">
                <h6>RED:</h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="120" class="slider" id="redSlider">
                    <p hidden>Value: <span id="redValue"></span></p>
                </div>

                <h6>GREEN:</h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="120" class="slider" id="greenSlider">
                    <p hidden>Value: <span id="greenValue"></span></p>
                </div>

                <h6>BLUE:</h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="120" class="slider" id="blueSlider">
                    <p hidden>Value: <span id="blueValue"></span></p>
                </div>

                <h6>Brightness:</h6>
                <div class="slidecontainer">
                    <input type="range" min="0" max="100" value="50" class="slider" id="brightnessSlider">
                    <p hidden>Value: <span id="brightnessValue"></span></p>
                </div>

            </div>

            <div class="colorWrapper">
                <div class="colorDisplay" id="colorDisplay">

                </div>
            </div>
            
        </div>

        </div>





        <div class="lightWrapper">

                <div class="lightContainer box1">
                    <table class="lightTable">
                        <tr>
                            <th>Selected</th>
                            <th>Frame ID</th>
                            <th>Title</th>
                            <th>Filename</th>
                        </tr>
                    <% for (let i=0; i<frameObjects.length; i++) {%>
                    
                        <tr class="frameRow">
                            <td>
                                    <label class="frameSwitch">
                                            Switch
                                    </label>
        
                            </td>
                            <td><%=frameObjects[i].deviceID %></td>
                            <td><%=frameObjects[i].Title %></td>
                            <td><%=frameObjects[i].filename %></td>                    
                            
                        </tr>
        
                    <% } %>
                            </table>
                </div>
        
                <div class="box2">
                    <form action="/modes/modeEditor/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="upload" multiple>
                        <input type="submit" value="Upload">
                    </form>
                    
                    
                
        
                </div>

            </div>
    </div>

            
        <!-- Pass ejs variables to javascript -->
        <script type="text/javascript">
            let lightObjects = JSON.parse('<%-lightObjects_string %>');
            let modeID = '<%-mode.modeID %>' 
        </script>
            
        <script src="/js/modeEditor_script.js"></script>
        <script src="/js/jquery.slim.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
        -->
        <script src="/js/bootstrap.min.js"></script>
    </body>


</html>